<small class="block">
  <h5>
    <code *clean.spaces>
      <span *if="$attrs.name" *text="`.${$attrs.name}`" class="hljs-meta"></span>
      <span *if="($attrs.name !== '..')" *set="{typings:meta?.typings?.modifiers?.[$attrs.name] ?? {}}" *mustache class="hljs-attr"
      >[{{ typings.allowed ? typings.allowed.map(v => `&quot;${v}&quot;`).join(' | ') : typings.type ?? 'string' }}
        <span *if="('default' in typings) || (typings.enforce)" class="hljs-comment">
          {{ typings.type === 'duration' ? '≈' : '=' }}{{ `${('default' in typings) ? ((typings.type ?? 'string') === 'string' ? `&quot;${typings.default}&quot;` : typings.default) : typings.allowed ? typings.allowed[0] : {boolean:true, duration:0, number:0,
          string:''}[typings.type]}${{duration:'ms'}[typings.type] ?? ''}` }}
        </span>]</span>
    </code>
  </h5>
  <slot></slot>
</small>
